    <webobject name=signup_form>
      Name: <webobject name=name_field></webobject><br/>
      <webobject name=contact_boolean></webobject> Please contact me if the book is printed.<br/>
      &nbsp;&nbsp;&nbsp;&nbsp;Email address: <webobject name=email_field></webobject><br/>
      I would pay $<webobject name=cost_field></webobject> for this book.<br/>
      <input type="submit"/>
    </webobject>
